# .github/workflows/profiles.yml

openf1_data_analytics: # Make sure this matches the 'name' in your dbt_project.yml
  target: dev
  outputs:
    dev:
      type: databricks
      host: "{{ env_var('DBT_HOST') }}"
      http_path: "{{ env_var('DBT_HTTP_PATH') }}"
      token: "{{ env_var('DBT_TOKEN') }}"
      catalog: "dev_f1_data_analytics"  # Your local dev catalog
      schema: ""
      threads: 4
      
    stage:
      type: databricks
      host: "{{ env_var('DBT_HOST') }}"
      http_path: "{{ env_var('DBT_HTTP_PATH') }}"
      token: "{{ env_var('DBT_TOKEN') }}"
      catalog: "stage_catalog" # Your CI catalog
      schema: "transform"
      threads: 4

    prod:
      type: databricks
      host: "{{ env_var('DBT_HOST') }}"
      http_path: "{{ env_var('DBT_HTTP_PATH') }}"
      token: "{{ env_var('DBT_TOKEN') }}"
      catalog: "prod_catalog" # Your Production catalog
      schema: "transform"
      threads: 4